<div class="col-8 offset-2">
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :name %>
    <%= f.input :email, hint: "ヒントだよ" %>
    <%= f.input :password %>
    <%= f.button :submit %>
  <% end %>
</div>
